component-header
	border-bottom: 1px solid #1b1b1b
	height: 45px
	width: 100%
	text-align: right
	top: 0
	left: 0
	background-image: url("../img/fabric_black.png")
	z-index: 2
	box-shadow: 20px 0px 35px -14px black
	margin: 0 auto 0
	position: fixed