extends ../_template.jade
block vars
	- var page_title = work
	- var page_description = ''
	- var page_keywords = ''
//- block main
//- 	div(ng-repeat="item in list.photography.walks.content")
//- 		div(ng-style="{background-image: url({{item.content}})}")

