component-app
  background rgba(0,0,0,0.1)
  
  component-header
    background rgba(0,0,0,0.1)
    
  component-navigation
    background rgba(0,0,0,0.1)
    display none
    
  component-works
    background rgba(0,0,0,0.1)
    
  component-gallery
    background rgba(0,0,0,0.1)
    
  component-footer
    background rgba(0,0,0,0.1)
  