component-app
  position absolute
  box-sizing border-box
  width 100%
  padding 0 16px
  background rgba(0,0,0,0.1)
  
  component-header
    background black
    
  component-navigation
    background rgba(0,0,0,0.1)
    display none
    
  component-works
    background rgba(0,0,0,0.1)
    
  component-gallery
    background-color gold
    width 100%
    display block
    margin-top 65px
    padding 16px
    
  component-footer
    background rgba(0,0,0,0.1)
  