dom-module(id="component-works")
  template
    template(is="dom-repeat" items="{{works}}")
      div
        a(href="{{item.path}}")
          img(src="{{item.thumbnail}}" alt="{{item.description}}")
          span {{item.name}}
      