component-works
  display flex
  flex-wrap wrap
  margin 0 auto
  max-width 996px
  div
    flex 0 0 30%
    &:nth-of-type(3n+1)
      margin-top 5%
    &:nth-of-type(3n+2)
      padding 0 5%
    &:nth-of-type(3n+3)
      margin-top 5%
    a
      background rgba(255,255,255,0.2)
      &:hover
        background rgba(255,255,255,0.6)
      img
        width 100%