dom-module(id="component-gallery")
  template
    template(is="dom-repeat" items="{{works}}")
      a(href="{{item.path}}")
        img(src="{{item.path}}" alt="{{item.description}}")
        span {{item.name}}