dom-module(id="component-gallery")
  template
    template(is="dom-repeat" items="{{items}}")
      a(href="{{item.path}}")
      	img(src="{{item.image}}" alt="{{item.description}}")
        span {{item.name}}