dom-module(id="component-test-gold")
  template
    template(is="dom-repeat" items="{{items}}" filter="filter")

      h1 testing
      h1 testing
      h1 testing
      h1 testing
      h1 testing
      h1 testing
      h1 testing
      h1 testing
      h1 testing
      h1 testing
      h1 testing