block vars
doctype html
html(ng-app="app-monochrome")
    head
        title #{page_title}
        meta(name="description" content='#{page_description}')
        meta(name="keywords" content='#{page_keywords}')
        link(rel="shortcut icon" href="favicon.ico")
        link(rel="import" href="../components/component-header.html")
        link(rel="import" href="../components/component-navigation.html")
        link(rel="import" href="../components/component-gallery.html")
        link(rel="import" href="../components/component-footer.html")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
        script(scr="../../bower_components/polymer/polymer.html")
    body
        component-header
        component-navigation
        block head
        block main
        component-gallery
        component-footer