extends _template.jade
block vars
	- var page_title = 'Rodrigo Barraza — Vancouver Photographer, Graphic Designer'
	- var page_description = 'Artist portfolio of VancoKuver-based contemporary photographer and visual designer: Rodrigo Barraza.'
	- var page_keywords = 'rodrigo barraza, vancouver, photographer, graphic, design, portfolio, wedding, portrait, boudoir, portrait, art, monochrome'
block head
block main
	| who